<div class="container">
    <div class="containerInner">
        <div> <input type="button" value="Back to Game" (click)="this.router.navigate(['']);"> </div>

        <div class="levelsContainer">
            <div class="level" *ngFor="let level of this.levelService.gameLevels; let levelIndex = index;">

                <div class="levelMetadata">
                    <div class="centered">Name:</div> <div><input class="metadataInput" type="text" [(ngModel)]='level.levelName' (ngModelChange)="saveData()"></div>
                    <div class="centered">Speed:</div> <div><input class="metadataInput" type="number" min="1" max="5" [(ngModel)]='level.speed' (ngModelChange)="saveData()"></div>
                </div>

                <div style="display: flex; align-items: center; justify-content: center;">
                    <input type="button" value="Play this level" class="playDeleteLevelButton play" (click)="goToLevel(levelIndex)">
                    <input type="button" value="Delete this level" class="playDeleteLevelButton delete" (click)="deleteLevel(levelIndex)">
                </div>
                <br>
                <div class="centered">
                    <div class="levelGrid" [style.height]="(level.obstacles.length * 40) + 'px'">
                        <div class="levelObstacleRow" *ngFor="let obstacleRow of level.obstacles; let row = index;">
                            <div class="levelObstacle" *ngFor="let obstacle of obstacleRow; let column = index;" 
                                [style.background-color]="obstacle == '#' ? '#242424' : 'lightgrey' "
                                (click)="switchObstacle(levelIndex, row, column)"
                            ></div>
                            <div> <input type="button" class="deleteRowButton" value="—" style="font-size: large;" (click)="deleteRow(levelIndex, row)"> </div>
                        </div>
                    </div>
                    <input type="button" class="addRowButton" value="Add Row" (click)="addRow(levelIndex)">
                </div>
            </div>

             <input type="button" value="Add Level" class="addLevelButton level" (click)="addLevel()">

        </div>

        <div></div>

    </div>
</div>