.container
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 35% 55%;
}
.info
{
    text-align: center;
    overflow: hidden;
}
.pauseMenu
{
    position: absolute;
    height: 100vh;
    width: 100vw;

    font-size: 100px;
    font-weight: bolder;
    color: #242424;

    background-color: #242424aa;

    display: grid;
    place-content: center;
    overflow: hidden;
}